<?xml version="1.0" encoding="UTF-8" ?>
   <widget id="com.example.hello" version="0.0.1">
        <name>Bahrain Elections</name>
        
        <description>
            A simple application for bahrain Elections
        </description>
        
        <author email="sara.talsayed@gmail.com" href="http://phonegap.com">
            EsDev Team
        </author>
        
        <content src="index.html" />
        
        <access origin="*" />
        
        <preference name="DisallowOverscroll" value="true"/>
        
        <icon src="icon.png" />

    </widget>